
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul
{
	margin: 0;
	padding: 0;
}
ul,li{
    
    list-style: none;
}
body.modal-open,
body.menu-open {
	overflow: hidden;
}


img {
	display: block;
	width: 100%;
	height: auto;
}

.text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.button,
.link {
	cursor: pointer;
}

.link {
	text-decoration: none;
    }
.title {
	color: var(--title-text-color);
	font-weight: 500;
	letter-spacing: 0.02em;
    }

:root {
    --primary-text-color:#434455;;
    --title-text-color:#2E2F42;
   --accent-color:#18a0fb;
   --primary-white-color:#ffffff;
   --link-color: #4D5AE5;
   --secondary-bg-color:#F4F4FD;
   --sibtitle-bg-color: #E7E9FC;
   --helper-text-color: #8e8f99;
    --card-gap: 24px;
        }
body{
    min-width: 320px;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif,'Verdana';
    font-size: 16px;

}
      
        .container {
            padding: 0 15px 0 15px;
            margin-left: auto;
            margin-right: auto;
            }

@media screen and (min-width: 480px) {
    .container{
    width: 480px;
}
@media screen and (min-width: 768px) {
    .container {
    width: 768px;
}
@media screen and (min-width: 1200px) {
    .container {
    width: 1200px;
    }

.menu-button{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 22px;
    background: transparent;
    line-height: 0;
    padding: 0;
    border: 0;
}    
.mobile-menu {
	width: 100%;
	height: 100%;
}   
.mobile-menu .close-btn {
	top: 40px;
	right: 40px;
}
.modal-close-button{
    position: absolute;
    display: block;
    top: 24px;
    right: 24px;
    padding: 7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    line-height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-button-icon{
    width: 8px;
    height: 8px;
}
.mobile-menu.modal-close-button{
    top: 40px;
	right: 40px;
}
       .logo {
        display: block;
        color: var(--link-color);
        font-family: "Raleway",sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none; 
        padding: 24px 0;
            } 




    .section{
        padding: 120px 0 120px 0;
    }
       .conteiner > .logostudio {
        color: var(--title-text-color);
          }
.logoweb { 
     color: var(--link-color); 
     text-decoration: none;
        } 
 .logostudio{
    color: var(--primary-text-color);
    text-decoration: none;
 }
 /*-- Головна навігація-- */
.nav-link {
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0 24px 0;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
      
}
.nav-link:hover,.nav-link:focus {color: var(--link-color)} 

.current::after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #4D5AE5;
    border-radius: 2px;
}

 .main-nav {
    margin-right: auto;
        }
     .site-nav .list {
        list-style: none;
        text-decoration: none;
           }
     
        .site-nav .item:not(:last-child)
        {
        margin-right: 40px;
        text-decoration: none;
    }


  .site-nav-link {
    color:var(--primary-text-color);
    font-weight: 700;
    text-decoration: none;
   line-height: 1.5;
   letter-spacing: 0.2em;
    padding: 24px 0;
 }
  
/* .contacts-list{
    display: flex;
    margin-left: auto;
    padding: 24px 0;
}

.contacts-list .item + .item { margin-left: 40px;}
.contacts-link{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--primary-text-color);
}
.header{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
} */
/* --section HERO-- */
.hero {
    padding: 192px 0;
    background-color: var(--primary-text-color);
    text-align: center;
    max-width: 1440px;
    height: 603px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
  .title{
    font-weight: 500; 
    color: var(--title-text-color);
  }
.hero-title{ 
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
letter-spacing: 0.02em;
color: var(--primary-white-color);
margin: 0 auto;
width: 496px;
margin-bottom: 48px;
    } */
    

/* .button-order {
    color: var(--primary-white-color);
        background-color: var(--link-color);  
        font-family: inherit;
        font-weight: 500;
        line-height:1.19;
        letter-spacing: 0.04em;
         cursor: pointer;
         border-style: none;
         border-radius: 4px;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
         padding: 16px 32px;
        text-align: center;
         gap: 10px;

         transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
 */

.hidden-title {position: fixed;
    transform: scale(0);
}

/* .section-feature {
       padding: 120px 0 120px 0;

}   
.section-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
color: var(--primary-text-color);
margin-bottom: 8px;
} */

/* .feature-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:calc(-1*var(--card-gap));
}
.list-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;

    }

.feature-list>.item {
    flex-basis: calc(100%/4 - var(--card-gap));
   margin-left:var(--card-gap);
   background-size:  64px 64px;
   }
    .description {
        font-size: 16px;
        line-height: 1.5;
    }
 .feature-icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: var(--secondary-bg-color);
    border-radius: 4px;
    margin-bottom: 8px;

 }
.feature-icon{
    display: inline-block;
    width: 64px;
    height: 64px;
}

 /* Section Images */

.img-section {
    padding-bottom: 120px;
} */

/* .work-title {
    margin: 0 auto;
font-size: 36px;
line-height: 1.1;
text-transform: capitalize;
color: var(--title-text-color);
margin-bottom: 72px;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none ;
   }
 

.work-list >.item {
       width: 360px;
    margin-left:  var(--card-gap);
    flex-basis:calc(100% / 3 - var(--card-gap ));
}  */

/* .team {
    background-color: #F4F4FD;
}

.our-team-title{
font-size: 36px;
line-height: 1.1;
text-align: center;
text-transform: capitalize;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 72px;
}
  .team-item{
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
    text-align: center;
    margin-right: var(--card-gap);
  }
  .team-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.team-item:last-child {
    margin-right: 0px;
}

.person-card-content{
    padding: 32px 16px;
}

.person-name-heading{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.person-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

 .names {
        background-color: var(--primary-white-color);
     text-align: center;
}
.person-social-media-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 12px;
} */
/* 
.person-social-media-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.person-social-media-link:hover{
    background-color: #31D0AA;
}

.person-social-media-icon {
    display: block;
    fill: #FFFFFF;
    width: 16px;
    height: 16px;
}
.our-team-title no bg{
font-size: 36px;
line-height: 1.1;
text-align: center;
text-transform: capitalize;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 72px;
} */

/* .customers-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.customers-item:not(:last-child){
    margin-right: 24px;
}

.customers-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    color: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;

    /* transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus{
    color: #4D5AE5;
    border: 1px solid #4D5AE5;
}

.customers-icon{
    display: block;
    width: 104px;
    height: 56px;
    fill: currentColor;
} */


/* Footer */
.footerweb { color:var(--primary-text-color);
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.16;
 display: flex;
align-items: center; 
letter-spacing: 0.03em;
}
footer {
    background-color: var(--primary-text-color); 
color: var( --title-text-color);
padding: 100px 0;
height: 310px;
align-items: baseline;
 
}
.footer-desk-block{
   align-items: baseline;
    width: 264px;
}

.footer-logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16; 
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--secondary-bg-color);
    display: block;
    margin-bottom: 16px;
}
.footer-logo  {
    font-family: 'Raleway';
    color: var(--link-color);
    font-weight: 800;
}
.footer-desk {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto';
    color: var(--sibtitle-bg-color) ;
}
.logoname {
    color: var(--primary-white-color);
    text-decoration: none;
}

.logoweb {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
 text-transform: uppercase; 
color: var(--link-color);
text-decoration: none;


}

.logorweb:hover,.footer-logo:hover, .logoname:focus, .footer-logo:focus {
    color: var(--link-color);
    }
    .footer-social-media-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 16px;
        color: #F4F4FD;
        margin-left: 120px;
        
    }
    
    .footer-desc-block{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        align-items: baseline;
      
    }
    .footer-social-media-block{
        align-items: baseline;
    }
    .footer-social-media-list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        /* margin-top: 12px; */
        margin-left: 120px;
        align-items: baseline;
    }
    
    .footer-social-media-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.1);;
        border-radius: 50%;

        transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .footer-social-media-link:hover,
    .footer-social-media-link:focus {
        background-color: #31D0AA;
    }
        .footer-social-media-icon {
        display: block;
        fill: #FFFFFF;
        width: 16px;
        height: 16px;
    } 
   /* Portfolio */
   
   .portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
    margin: auto;
    }
.list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
  
    
}
.portfolio-list{
   margin: 0;
   padding: 0;
	display: flex;
	flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    
       }

.portfolio-list > .portfolio-item {
	    flex-basis: calc((100% - 48px) / 3);
        border: 0.5px solid #F4F4FD;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    .portfolio-item{
        font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover, .portfolio-item:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

   .portfolio-item :not(:nth-child(3n)){
    margin-right: 0px;
   }  
.portfolio-thumb{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    content: "";
    position:absolute;
    padding: 40px 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    opacity: 1;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay{
    transform: translateY(0);
}

.portfolio-overlay-text{
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.text{
    color:#2E2F42;
}
.filter-list {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
  
     
  .button-filter {
    background-color: var(--sibtitle-bg-color);
    border: 1px solid var(--sibtitle-bg-color);
    color: var(--link-color);
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;

    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-filter:last-child{
    margin-right: 0px;
  }
  .filter-list >.filter-nav-button:not(last-child) {
        margin-right: 24px;
  }

   .filter-nav-button:last-child{
    margin-right:0pt;
   }
       
 
.button-filter:hover,
.button-filter:focus {
    background-color: var(--link-color);
    color: var(--primary-white-color);
    border-top: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} 
.list-ready{
    padding: 32px 16px;

    }
.examples-title {
    color: var(--title-text-color);
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: auto;
    
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 1;
	transition-duration: 250ms;
	transition-timing-function:	cubic-bezier(0.4, 0, 0.2, 1);

}

.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 408px;
    min-height: 576px;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%) scale(1);
	transition-duration: 350ms;
	transition-timing-function:	cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-button:hover,
.modal-close-button:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--link-color);
  color: var(--primary-white-color);
  fill: currentColor;
}
.modal-heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin: 72px 24px 16px 24px;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 0px 24px 16px 24px;
    
    width: 100%;
}


.form-pointer{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
   }

.form-label{
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.16;
}

.form-input{
    margin: 0;
    padding: 8px 38px;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;

    padding-left: 34px;
    transition-property: border-color color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon-wrapper{
    position: relative
    ;
}
.form-input-icon{
    position: absolute;
    top:50%;
    left:16px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    fill: currentColor;
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-input:focus+.form-input-icon {
    color: #4D5AE5;
}

.form-textarea{
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    height: 120px;
    padding-left: 16px;
    padding-top: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 0,875;
    letter-spacing: 0.01em;


    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    border-color: #4D5AE5;
}

.modal-privacy-link{
    /* text-decoration: ; */
    color: #4D5AE5;
}
.form-privacy-check{
    appearance: none;
}
.privacy-check-icon-field{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;

    transition-property: background-color border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-check-icon{
    width: 10px;
    height: 8px;
    fill: #FFFFFF;
}
.form-privacy-check:checked +.privacy-check-icon-field {
    background-color: #4D5AE5;
    border-color: #4D5AE5;
}
.submit-button{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
        background: var(--link-color);
      border-radius: 4px;
cursor: pointer;
    width: 170px;
    height: 51px;

    
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    transition-property: box-shadow background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        
}
        
.submit-button:active {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* footer subscribe */
.footer-subscribe-block{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.footer-subscribe-title{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 16px;
        color: #F4F4FD;
        align-items: baseline;
}
.subscribe-mail{
    padding: 8px 16px;
    width: 264px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}

.subscribe-button{
    display: inline-flex;
    align-items: center;
    padding: 8px 24px;
    margin-left: 24px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--link-color);
    cursor: pointer;
    line-height: 1.5;
    column-gap: 10px;
    color: var(--primary-white-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
}

.subscribe-icon{
    width: 24px;
    height: 20px;
    fill: #FFFFFF;
    }


/* Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
 */
